.application-status-message {
  background-color: var(--color-black-5);
  text-align: center;
  padding: $spacing-s $spacing-l;

  h2 {
    @include font-size($fontsize-heading-s, 24px);
    font-weight: $font-weight-bold;
    margin: 0 0 $spacing-3-xs;
    text-align: center
  }

  p {
    @include font-size($fontsize-body-s, 20px);
    font-weight: $font-weight-regular;
    margin: 0;
    text-align: center;
  }
}