.faq {
  .form-actions {
    @media screen and (min-width: $breakpoint-m) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .bef-checkboxes {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $breakpoint-m) {
      justify-content: center;
    }

    .hds-checkbox {
      margin-top: 0;
      margin-right: $spacing-2-xs;
    }

    .hds-checkbox__input {
      &:checked {
        &::before {
          background-color: transparent;
          mask-image: none;
        }

        & + .hds-checkbox__label {
          background-color: var(--color-black-90);
          color: var(--color-white);
        }
      }

      &:hover {
        & + .hds-checkbox__label {
          background-color: var(--color-black-90);
          color: var(--color-white);
        }
      }

      &:focus {
        & + .hds-checkbox__label {
          box-shadow: 0 0 0 3px var(--color-coat-of-arms);
        }
      }
    }

    .hds-checkbox__label {
      @include font-size($fontsize-body-m, 24px);
      font-weight: $font-weight-medium;
      border: 2px solid var(--color-black-90);
      padding: $spacing-3-xs $spacing-s;
      color: var(--color-black-90);

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }
  }
}

.faq__hero {
  overflow: hidden;
  margin: 0 #{-$spacing-l};
  padding: $spacing-2-xl $spacing-2-xs 0;

  @media screen and (min-width: $breakpoint-m) {
    padding-top: $spacing-4-xl;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    min-height: 446px;
  }

  .faq--hitas & {
    background-color: var(--color-engel);
  }

  .faq--haso & {
    background-color: #80c8a2;
  }

  .hds-koros {
    transform: scale(2);
    display: block;
    margin-top: $spacing-5-xl;
  }
}

.faq__title {
  @include font-size($fontsize-heading-l, 43px);
  font-weight: $font-weight-bold;
  margin: 0 0 $spacing-l;

  > span {
    @include font-size($fontsize-heading-xs, 27px);
    font-weight: $font-weight-regular;
    display: block;

    @media screen and (min-width: $breakpoint-m) {
      @include font-size($fontsize-heading-s, 30px);
      text-align: center;
    }
  }

  @media screen and (min-width: $breakpoint-m) {
    @include font-size($fontsize-heading-xl, 62px);
    font-weight: $font-weight-bold;
    text-align: center;
    margin: 0 0 $spacing-l;
  }
}

.faq-reset-button {
  padding-left: 0;

  .hds-icon {
    margin-left: 0 !important;
  }
}

.faq__content {
  margin: 0 #{-$spacing-l};
  padding: 0 $spacing-2-xs;

  > .container {
    padding-top: 0;
  }
}

// FAQ Listing

.faq-listing {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 795px;
}

.faq-teaser {
  border-bottom: 1px solid var(--color-black-90);
  padding: $spacing-m 0;

  @media screen and (min-width: $breakpoint-l) {
    padding: $spacing-2-xl 0;
  }
}

.faq-teaser__button {
  @include font-size($fontsize-heading-s, 24px);
  font-weight: $font-weight-bold;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: transparent;
  margin: 0;
  text-align: left;
  padding: 0;
  border: 0;
  width: 100%;

  @media screen and (min-width: $breakpoint-l) {
    @include font-size($fontsize-heading-m, 29px);
  }

  > span {
    margin-right: $spacing-l;
    pointer-events: none;
  }

  > svg {
    pointer-events: none;

    @media screen and (min-width: $breakpoint-l) {
      height: 32px;
      width: 32px;
    }
  }

  &[aria-expanded="true"] {
    & > svg {
      transform: rotate(180deg);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.faq-teaser__description {
  margin-top: $spacing-s;

  @media screen and (min-width: $breakpoint-l) {
    margin-top: $spacing-l;
  }

  p {
    &:first-child {
      margin-top: 0;
    }
  }

  &[aria-hidden="true"] {
    display: none;
  }
}