{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ create_attribute({'class': ['page-header__bottom', 'is-hidden']}) }} aria-hidden="true">
    <div class="page-header__bottom-content">
      {{ content }}
    </div>
    <div class="page-header__background-shadow" aria-hidden="true"></div>
  </div>
{% endif %}
