{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{{ attach_library('asuntotuotanto/user-tools') }}

{% for item in items %}
  {% if loop.index == 1 %}
    <button id="user-tools-toggle" class="user-tools__button" aria-controls="user-tools-dropdown" aria-expanded="false" aria-haspopup="true" aria-label="{{ 'Open user tools dropdown'|t }}">
      {{ item.title }}
    </button>

    <div id="user-tools-dropdown" aria-hidden="true" class="user-tools__dropdown">
      <ul class="user-tools__links">
        {% for link in item.below %}
          <li class="user-tools__links-item">
            {{ link(link.title, link.url, {'class': [link.is_link_active ? 'is-active', 'user-tools__link']}) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endfor %}