.apartment {
  padding-bottom: $spacing-layout-xl;

  @media screen and (min-width: $breakpoint-l) {
    padding-bottom: $spacing-layout-2-xl;
  }

  // Make button full width for mobile breakpoints.
  .hds-button {
    @media screen and (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }
  }
}

.apartment__header {
  @media screen and (min-width: $breakpoint-m) {
    align-items: center;
    display: flex;
    gap: $spacing-s;
    justify-content: space-between;
  }
}

.apartment__header-section {
  &--actions {
    &.is-application-period-active {
      @media screen and (min-width: $breakpoint-m) {
        flex-shrink: 0;
      }
    }

    &:not(.is-application-period-active) {
      @media screen and (min-width: $breakpoint-m) {
        max-width: 285px;
        width: 100%;
      }
    }
  }
}

.apartment__label {
  @include font-size($fontsize-heading-l, $lineheight-l);
  font-weight: $font-weight-bold;
  color: var(--color-black-90);
  margin-bottom: $spacing-2-xs;

  @media screen and (min-width: $breakpoint-l) {
    @include font-size($fontsize-heading-xl, $fontsize-heading-xl);
    margin-bottom: $spacing-s;
  }
}

.apartment__lead {
  @include font-size($fontsize-heading-s, $fontsize-heading-s);
  font-weight: $font-weight-regular;
  align-items: center;
  color: var(--color-black-90);
  display: inline-flex;
  margin-bottom: $spacing-m;

  span[aria-hidden="true"] {
    background-color: var(--color-black-40);
    display: inline-block;
    height: 1px;
    width: 35px;
    margin: 0 $spacing-xs;
  }
}

.apartment__images {
  padding-top: $spacing-m;

  &--missing {
    aspect-ratio: 3 / 2;
    background-color: var(--color-silver-medium-light);
    width: 100%;

    @media screen and (min-width: $breakpoint-m) {
      aspect-ratio: 2.3 / 1;
    }
  }
}

.apartment__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;
  margin-top: $spacing-m;

  @media screen and (min-width: $breakpoint-l) {
    flex-direction: row;
    gap: $spacing-4-xl;
    justify-content: space-between;
    margin-top: $spacing-4-xl;
  }

  @media screen and (min-width: $breakpoint-xl) {
    gap: $spacing-layout-2-xl;
  }
}

.apartment__sidebar {
  @media screen and (min-width: $breakpoint-l) {
    max-width: 285px;
    width: 100%;
  }
}

.apartment__content {
  @media screen and (min-width: $breakpoint-l) {
    max-width: 800px;
    width: 100%;
  }
}

.apartment__application-information {
  @include font-size($fontsize-heading-xxs, 24px);
  font-weight: $font-weight-medium;
  margin: 0;
  color: var(--color-black-90);

  @media screen and (min-width: $breakpoint-m) {
    @include font-size($fontsize-heading-s, 26px);
    font-weight: $font-weight-bold;
  }
}

.apartment__type-and-address {
  align-items: center;
  display: flex;
  gap: $spacing-xs;
  margin-bottom: $spacing-m;

  @media screen and (min-width: $breakpoint-m) {
    margin-bottom: $spacing-4-xl;
  }
}

.apartment__ownership-type {
  @include font-size($fontsize-body-s, 26px);
  background-color: var(--color-engel);
  color: var(--color-black-90);
  flex-shrink: 0;
  margin: 0;
  padding: $spacing-3-xs $spacing-2-xs;
}

.apartment__address {
  @include font-size($fontsize-body-m, 24px);
  color: var(--color-black-90);
  margin: 0;

  @media screen and (min-width: $breakpoint-m) {
    @include font-size($fontsize-body-l, 24px);
  }
}

.apartment__information {
  margin-bottom: $spacing-m;

  @media screen and (min-width: $breakpoint-m) {
    margin-bottom: $spacing-4-xl;
  }
}

.apartment__information-label {
  @include font-size($fontsize-heading-m, 29px);
  font-weight: $font-weight-bold;
  color: var(--color-black-90);
  margin-bottom: $spacing-2-xs;
  margin-top: #{-$spacing-m} - 74px;
  padding-top: calc(#{$spacing-m} + 74px);

  @media screen and (min-width: $breakpoint-m) {
    @include font-size($fontsize-heading-l, 43px);
    margin-bottom: $spacing-m;
  }
}

.apartment__details {
  margin-bottom: $spacing-m;

  @media screen and (min-width: $breakpoint-m) {
    margin-bottom: $spacing-4-xl;
  }
}

.apartment__details-label {
  @include font-size($fontsize-heading-m, 29px);
  font-weight: $font-weight-bold;
  color: var(--color-black-90);
  margin-bottom: $spacing-2-xs;
  margin-top: 0;

  @media screen and (min-width: $breakpoint-m) {
    @include font-size($fontsize-heading-l, 43px);
    margin-bottom: $spacing-m;
  }
}

.apartment__details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.apartment__details-item {
  & + & {
    margin-top: $spacing-3-xs;
  }

  p {
    @include font-size($fontsize-body-m, 28px);
    margin: 0;

    @media screen and (min-width: $breakpoint-m) {
      @include font-size($fontsize-body-l, 28px);
    }

    span {
      &:first-of-type {
        font-weight: $font-weight-bold;

        @media screen and (min-width: $breakpoint-m) {
          display: inline-block;
          width: 225px;
        }

        &:after {
          content: ":";
        }
      }
    }
  }
}


