.contact-persons {
  list-style: none;
  padding: 0;
  margin: $spacing-and-half 0;
  display: grid;
  gap: $spacing-double;

  @media screen and (min-width: $breakpoint-s) {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

.contact-person {
  > h3 {
    font-size: $fontsize-heading-xs;
line-height: $lineheight-xl; // Was 27px.
    font-weight: $font-weight-bold;
    display: inline-flex;
    align-items: center;
    margin: 0;

    svg {
      color: var(--color-bus);
      margin-right: 12px;
    }
  }
}

.contact-person__detail-item {
 font-size: $fontsize-body-m;
line-height: $lineheight-l; // Was 24px.
  margin: 0 0 0 36px;
}
