.project__area-overview-wrapper {
  margin-top: calc(-#{$spacing-m} - 26px);
  padding-top: calc(#{$spacing-m} + 74px);

  @media screen and (min-width: $breakpoint-l) {
    display: flex;
    margin-top: -2px;
    padding-top: calc(#{$spacing-m} + 74px);
    justify-content: center;
  }
}

.project__area-overview {
  background-color: var(--color-alert-light);
  margin: 0 -#{$spacing-l};
  padding: $spacing-m $spacing-l;

  @media screen and (min-width: $breakpoint-s) and (max-width: $breakpoint-m - 1px) {
    margin: 0 -#{$spacing-l};
    padding: $spacing-xl $spacing-l;
  }

  @media screen and (min-width: $breakpoint-m) and (max-width: $breakpoint-l - 1px) {
    margin: 0 -#{$spacing-l};
    padding: $spacing-2-xl $spacing-l;
  }

  @media screen and (min-width: $breakpoint-l) {
    padding: $spacing-3-xl $spacing-xl;
    width: 100%;
    margin: 0;
  }
}

.project__area-overview-label {
  @include font-size($fontsize-heading-s, $lineheight-m);
  font-weight: $font-weight-bold;
  color: var(--color-black-90);
  margin-bottom: $spacing-m;
  margin-top: 0;
}

.project__services-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.project__service-item {
  display: inline-flex;
  align-items: center;

  & + & {
    margin-top: $spacing-xs;
  }

  > svg {
    margin-right: $spacing-s;

    @media screen and (min-width: $breakpoint-l) {
      height: 32px;
      margin-right: $spacing-m;
      width: 32px;
    }
  }

  p {
    @include font-size($fontsize-body-m, $lineheight-l);
    color: var(--color-black-90);
    margin: 0;

    @media screen and (min-width: $breakpoint-l) {
      @include font-size($fontsize-body-xl, $lineheight-xl);
    }
  }
}

.project__project-area-description {
  display: flex;
  margin-top: $spacing-xs;

  > svg {
    margin-right: $spacing-s;

    @media screen and (min-width: $breakpoint-l) {
      height: 32px;
      margin-right: $spacing-m;
      width: 32px;
    }
  }

  p {
    @include font-size($fontsize-body-m, 24px);
    color: var(--color-black-90);
    margin: 0;
    max-width: 300px;

    @media screen and (min-width: $breakpoint-m) {
      @include font-size($fontsize-body-l, 27px);
    }
  }
}

.project__area-overvink-link {
  @include font-size($fontsize-body-l, 26px);
  font-weight: $font-weight-bold;
  color: var(--color-bus);
  display: inline-block;
  margin-top: $spacing-m;

  @media screen and (min-width: $breakpoint-l) {
    margin-top: $spacing-l;
  }
}

.project__map-location {
  background-color: var(--color-silver-medium-light);
  margin: 0 -#{$spacing-l};
  padding: $spacing-m $spacing-l;
  position: relative;
  min-height: 400px;

  @media screen and (min-width: $breakpoint-s) and (max-width: $breakpoint-m - 1px) {
    margin: 0 -#{$spacing-l};
    padding: $spacing-xl $spacing-l;
  }

  @media screen and (min-width: $breakpoint-m) and (max-width: $breakpoint-l - 1px) {
    margin: 0 -#{$spacing-l};
    padding: $spacing-2-xl $spacing-l;
  }

  @media screen and (min-width: $breakpoint-l) {
    padding: $spacing-3-xl $spacing-xl;
    width: 100%;
    margin: 0;
    min-height: 200px;
  }
}

.project__map-location-label {
  @include font-size($fontsize-heading-s, $lineheight-m);
  font-weight: $font-weight-bold;
  color: var(--color-black-90);
  margin: 0;
  position: relative;
  z-index: 10;
}
