.contact-information-with-map {
  margin: $spacing-2-xl auto 0;
  max-width: 1200px;

  @media screen and (min-width: $breakpoint-l) {
    margin-top: $spacing-4-xl;
  }
}

.contact-information-with-map__title {
  @include font-size($fontsize-heading-m, 29px);
  font-weight: $font-weight-bold;
  margin: 0 0 $spacing-m;

  @media screen and (min-width: $breakpoint-l) {
    @include font-size($fontsize-heading-l, 43px);
    margin: 0 0 $spacing-l;
  }
}

.contact-information-with-map__information {
  list-style: none;
  padding: 0;
  margin: 0 0 $spacing-l;

  @media screen and (min-width: $breakpoint-l) {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: $spacing-l;
  }
}

.contact-information-with-map__information-item {
  @include font-size($fontsize-body-m, 24px);
  font-weight: $font-weight-regular;
  align-items: center;
  display: flex;

  @media screen and (min-width: $breakpoint-l) {
    @include font-size($fontsize-body-l, 32px);
  }

  &:nth-child(2) {
    margin-bottom: $spacing-xs;

    @media screen and (min-width: $breakpoint-l) {
      margin-bottom: 0;
    }
  }

  > .icon {
    margin-right: $spacing-2-xs;
  }
}