.latest-news {
  background-color: var(--color-black-5);
  margin-left: -$spacing-l;
  margin-right: -$spacing-l;
  margin-top: $spacing-2-xl;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: $breakpoint-l) {
    margin-top: $spacing-4-xl;
  }

  .hds-koros {
    transform: scale(2);
  }
}

.latest-news__content {
  padding: $spacing-2-xl $spacing-l $spacing-8-xl;

  @media screen and (min-width: $breakpoint-l) {
    padding: $spacing-3-xl $spacing-l $spacing-8-xl;
    margin: 0 auto;
    max-width: 1264px;
  }
}

.latest-news__header {
  margin: 0 0 $spacing-xl;

  @media screen and (min-width: $breakpoint-l) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.latest-news__title {
  @include font-size($fontsize-heading-m, 29px);
  color: var(--color-black-90);
  font-weight: $font-weight-bold;
  margin: 0 0 $spacing-s;

  @media screen and (min-width: $breakpoint-l) {
    @include font-size($fontsize-heading-l, 43px);
    margin: 0;
  }
}

.latest-news__link {
  @include font-size($fontsize-body-l, 27px);
  color: var(--color-black-90);
  font-weight: $font-weight-bold;
  margin: 0;
  align-items: center;
  display: inline-flex;
  text-decoration: none;

  &:after {
    background-image: url('../icons/angle-right.svg');
    background-size: 100%;
    content: "";
    display: inline-block;
    height: 24px;
    margin-left: $spacing-3-xs;
    width: 24px;
  }
}