.stacked-contact-blocks {
  margin-top: $spacing-2-xl;
  padding-bottom: $spacing-l;

  @media screen and (min-width: $breakpoint-l) {
    margin-top: $spacing-4-xl;
  }
}

.stacked-contact-blocks__content {
  margin: 0 auto;
  max-width: 1200px;

  @media screen and (min-width: $breakpoint-l) {
    display: flex;
    justify-content: space-between;
  }
}

.stacked-contact-blocks__text-blocks {
  @media screen and (min-width: $breakpoint-l) {
    width: 50%;
    max-width: 386px;
    padding-top: $spacing-l;
    padding-bottom: $spacing-l;
  }

  .text--stacked-text-blocks {
    &:not(:first-of-type) {
      border-top: 1px solid var(--color-black-80);
      margin-top: $spacing-xl;
      padding-top: $spacing-xl;

      @media screen and (min-width: $breakpoint-l) {
        margin-top: $spacing-4-xl;
        padding-top: $spacing-4-xl;
      }
    }
  }
}

.stacked-contact-blocks__main-blocks {
  border-top: 1px solid var(--color-black-80);
  margin-top: $spacing-xl;
  padding-top: $spacing-xl;

  @media screen and (min-width: $breakpoint-l) {
    border-top: 0;
    border-left: 1px solid var(--color-black-80);
    margin-top: 0;
    padding-left: $spacing-8-xl;
    margin-left: $spacing-8-xl;
    flex-grow: 1;
    padding-top: $spacing-l;
    padding-bottom: $spacing-l;
  }
}