//
// @file
//
// This file includes styles for a wrapper.
//
.wrapper .wrapper {
  &--mw-1000 {
    max-width: 1000px;
  }

  &--mw-1200 {
    max-width: 1200px;
  }

  &--mw-1264 {
    max-width: $content-area-wrapper-width-max;
  }
}

@media screen and (max-width: $breakpoint-xl) {
  .wrapper {
    padding: 0 2rem;
  }
}

