.page-header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-black-20);

  @media screen and (min-width: $breakpoint-l) {
    position: relative;
  }

  &.has-submenu {
    @media screen and (min-width: $breakpoint-l) {
      margin-bottom: 56px;
    }
  }
}

.page-header__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 $spacing-s;
  z-index: 100;

  @media screen and (min-width: $breakpoint-xs) {
    padding: 0 $spacing-l;
  }
}

.page-header__bottom-content {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-black-20);
  border-top: 1px solid var(--color-black-20);
  left: 0;
  position: absolute;
  right: 0;
  top: 72px;
  z-index: 100;

  .toolbar-vertical & {
    top: calc(39px + 72px);
  }

  .toolbar-horizontal & {
    top: calc(53px + 72px);
  }
}

.page-header__background-shadow {
  background-color: rgba(0, 0, 0, .75);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 72px;
  z-index: 10;

  .toolbar-vertical & {
    top: calc(39px + 72px);
  }

  .toolbar-horizontal & {
    top: calc(53px + 72px);
  }

  .page-header__bottom[aria-hidden="true"] + & {
    visibility: hidden;
    display: none;
  }
}

.page-header__mobile-navigation-toggle-button {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 32px;
  border: 0;

  @media screen and (min-width: $breakpoint-l) {
    display: none;
    visibility: hidden;
  }

  &:after {
    background-size: 100%;
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
  }

  &[aria-expanded="true"] {
    &:after {
      background-image: url('../icons/cross.svg');
      transform: scale(1.25);
    }
  }

  &[aria-expanded="false"] {
    &:after {
      background-image: url('../icons/menu-hamburger.svg');
    }
  }

  &:hover {
    cursor: pointer;
  }
}