.cta-block {
  margin-top: $spacing-2-xl;
  padding: $spacing-2-xl 0;
  position: relative;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;

  @media screen and (min-width: $breakpoint-l) {
    margin-top: $spacing-4-xl;
    padding: $spacing-l 0;
  }
}

.cta-block__title {
  @include font-size($fontsize-heading-m, 29px);
  font-weight: $font-weight-bold;
  margin: 0 0 $spacing-m;
  text-align: center;
}