.apartment {
  // Make button full width for mobile breakpoints.
  .hds-button {
    @media screen and (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }
  }
}

.apartment__header {
  @media screen and (min-width: $breakpoint-m) {
    align-items: center;
    display: flex;
    gap: $spacing-s;
    justify-content: space-between;
  }
}

.apartment__header-section {
  &--actions {
    @media screen and (min-width: $breakpoint-m) {
      flex-shrink: 0;
    }
  }
}

.apartment__label {
  @include font-size($font-size-heading-2, $lineheight-heading-l);
  @include font-weight($bold);
  color: var(--color-black-90);
  margin-bottom: $spacing-2-xs;

  @media screen and (min-width: $breakpoint-l) {
    @include font-size($font-size-heading-1, $lineheight-heading-xl);
    margin-bottom: $spacing-s;
  }
}

.apartment__lead {
  @include font-size($font-size-heading-4, $lineheight-heading-s);
  @include font-weight($regular);
  align-items: center;
  color: var(--color-black-90);
  display: inline-flex;
  margin-bottom: $spacing-m;

  span[aria-hidden="true"] {
    background-color: $color-gray-4;
    display: inline-block;
    height: 1px;
    width: 35px;
    margin: 0 $spacing-xs;
  }
}

.apartment__images {
  padding-top: $spacing-m;

  &--missing {
    aspect-ratio: 3 / 2;
    background-color: var(--color-silver-medium-light);
    width: 100%;

    @media screen and (min-width: $breakpoint-m) {
      aspect-ratio: 2.3 / 1;
    }
  }
}

.apartment__anchor-navigation {
  @media screen and (max-width: $breakpoint-l - 1px) {
    visibility: hidden;
    display: none;
  }

  border-bottom: 1px solid var(--color-black-20);
  margin-top: -5px;
}

.apartment__anchor-list {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.apartment__anchor-item {
  & + & {
    margin-left: $spacing-5-xl;
  }
}

.apartment__anchor-link {
  @include font-size($fontsize-body-xl, 30px);
  @include font-weight($bold);
  align-items: center;
  display: inline-flex;
  padding: $spacing-m;
  text-decoration: none;

  > svg {
    margin-right: $spacing-xs;
  }
}

.apartment__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;
  margin-top: $spacing-m;

  @media screen and (min-width: $breakpoint-l) {
    flex-direction: row;
    gap: $spacing-4-xl;
    justify-content: space-between;
    margin-top: $spacing-4-xl;
  }

  @media screen and (min-width: $breakpoint-xl) {
    gap: $spacing-layout-2-xl;
  }
}

.apartment__sidebar {
  @media screen and (min-width: $breakpoint-l) {
    max-width: 285px;
    width: 100%;
  }
}

.apartment__content {
  @media screen and (min-width: $breakpoint-l) {
    max-width: 800px;
    width: 100%;
  }
}

.apartment__application-information {
  @include font-size($font-size-heading-6, 24px);
  @include font-weight($medium);
  margin: 0;
  color: var(--color-black-90);

  @media screen and (min-width: $breakpoint-m) {
    @include font-size($font-size-heading-4, 26px);
    @include font-weight($bold);
  }
}

.apartment__type-and-address {
  align-items: center;
  display: flex;
  gap: $spacing-xs;
  margin-bottom: $spacing-m;

  @media screen and (min-width: $breakpoint-m) {
    margin-bottom: $spacing-4-xl;
  }
}

.apartment__ownership-type {
  @include font-size($fontsize-body-s, 26px);
  background-color: var(--color-engel);
  color: var(--color-black-90);
  flex-shrink: 0;
  margin: 0;
  padding: $spacing-3-xs $spacing-2-xs;
}

.apartment__address {
  @include font-size($fontsize-body-m, 24px);
  color: var(--color-black-90);
  margin: 0;

  @media screen and (min-width: $breakpoint-m) {
    @include font-size($fontsize-body-l, 24px);
  }
}

.apartment__information {
  margin-bottom: $spacing-m;

  @media screen and (min-width: $breakpoint-m) {
    margin-bottom: $spacing-4-xl;
  }
}

.apartment__information-label {
  @include font-size($font-size-heading-3, 29px);
  @include font-weight($bold);
  color: var(--color-black-90);
  margin-bottom: $spacing-2-xs;
  margin-top:-$spacing-m;
  padding-top: $spacing-m;

  @media screen and (min-width: $breakpoint-m) {
    @include font-size($font-size-heading-2, 43px);
    margin-bottom: $spacing-m;
  }
}

.apartment__details {
  margin-bottom: $spacing-m;

  @media screen and (min-width: $breakpoint-m) {
    margin-bottom: $spacing-4-xl;
  }
}

.apartment__details-label {
  @include font-size($font-size-heading-3, 29px);
  @include font-weight($bold);
  color: var(--color-black-90);
  margin-bottom: $spacing-2-xs;
  margin-top: 0;

  @media screen and (min-width: $breakpoint-m) {
    @include font-size($font-size-heading-2, 43px);
    margin-bottom: $spacing-m;
  }
}

.apartment__details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.apartment__details-item {
  & + & {
    margin-top: $spacing-3-xs;
  }

  p {
    @include font-size($fontsize-body-m, 28px);
    margin: 0;

    @media screen and (min-width: $breakpoint-m) {
      @include font-size($fontsize-body-l, 28px);
    }

    span {
      &:first-of-type {
        @include font-weight($bold);

        @media screen and (min-width: $breakpoint-m) {
          display: inline-block;
          width: 225px;
        }

        &:after {
          content: ":";
        }
      }
    }
  }
}

.apartment__attachments-label {
  @include font-size($font-size-heading-3, 29px);
  @include font-weight($bold);
  color: var(--color-black-90);
  margin-bottom: $spacing-2-xs;
  margin-top:-$spacing-m;
  padding-top: $spacing-m;

  @media screen and (min-width: $breakpoint-m) {
    @include font-size($font-size-heading-2, 43px);
    margin-bottom: $spacing-m;
  }
}

.apartment__attachments-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $breakpoint-m) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.apartment__attachment-item {
  @media screen and (min-width: $breakpoint-m) {
    width: calc(50% - #{$spacing-s});
  }
}

.apartment__attachment-link {
  border: 1px solid var(--color-black-20);
  display: inline-flex;
  height: 100%;
  padding: $spacing-s;
  text-decoration: none;
  width: 100%;

  > svg {
    flex-shrink: 0;
  }
}

.apartment__attachment-content {
  margin-left: $spacing-s;
  width: 100%;
}

.apartment__attachment-description {
  @include font-size($fontsize-body-s, 26px);
  @include font-weight($medium);
  margin-bottom: $spacing-3-xs;
  margin-top: 0;
  color: var(--color-black-90);
  position: relative;
  display: inline-block;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:after {
    border-bottom: 1px solid var(--color-black-90);
    bottom: $spacing-4-xs;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
  }
}

.apartment__attachment-name {
  @include font-size($fontsize-body-m);
  @include font-weight($bold);
  color: var(--color-black-90);
  margin: 0;
}

.apartment__attachment-size {
  @include font-size($fontsize-body-s, 26px);
  color: var(--color-black-90);
  margin: 0;
}

.apartment__area-overview-wrapper {
  margin-top: $spacing-m;
  padding-top: $spacing-m;

  @media screen and (min-width: $breakpoint-l) {
    display: flex;
  }
}

.apartment__area-overview {
  background-color: var(--color-alert-light);
  margin: 0 -#{$spacing-s};
  padding: $spacing-m $spacing-s;

  @media screen and (min-width: $breakpoint-s) and (max-width: $breakpoint-m - 1px) {
    margin: 0 -#{$spacing-m};
    padding: $spacing-xl $spacing-m;
  }

  @media screen and (min-width: $breakpoint-m) and (max-width: $breakpoint-l - 1px) {
    margin: 0 -#{$spacing-l};
    padding: $spacing-2-xl $spacing-l;
  }

  @media screen and (min-width: $breakpoint-l) {
    margin: 0 0 0 -#{$spacing-xl};
    max-width: calc(50% + #{$spacing-xl});
    padding: $spacing-3-xl $spacing-xl;
    width: 100%;
  }
}

.apartment__area-overview-label {
  @include font-size($font-size-heading-4, $lineheight-heading-m);
  @include font-weight($bold);
  color: var(--color-black-90);
  margin-bottom: $spacing-m;
  margin-top: 0;
}

.apartment__services-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.apartment__service-item {
  display: inline-flex;
  align-items: center;

  & + & {
    margin-top: $spacing-xs;
  }

  > svg {
    margin-right: $spacing-s;

    @media screen and (min-width: $breakpoint-l) {
      height: 32px;
      margin-right: $spacing-m;
      width: 32px;
    }
  }

  p {
    @include font-size($fontsize-body-m, $lineheight-l);
    color: var(--color-black-90);
    margin: 0;

    @media screen and (min-width: $breakpoint-l) {
      @include font-size($fontsize-body-xl, $lineheight-xl);
    }
  }
}

.apartment__project-description {
  display: inline-flex;
  margin-top: $spacing-xs;

  > svg {
    margin-right: $spacing-s;

    @media screen and (min-width: $breakpoint-l) {
      height: 32px;
      margin-right: $spacing-m;
      width: 32px;
    }
  }

  p {
    @include font-size($fontsize-body-m, 24px);
    color: var(--color-black-90);
    margin: 0;
    max-width: 300px;

    @media screen and (min-width: $breakpoint-m) {
      @include font-size($fontsize-body-l, 27px);
    }
  }
}

.apartment__area-overvink-link {
  @include font-size($fontsize-body-l, 26px);
  @include font-weight($bold);
  color: var(--color-black-90);
  display: inline-block;
  margin-top: $spacing-m;
  text-decoration: none;

  @media screen and (min-width: $breakpoint-l) {
    margin-top: $spacing-l;
  }
}

.apartment__map-location {
  background-color: var(--color-silver-medium-light);
  margin: 0 -#{$spacing-s};
  padding: $spacing-m $spacing-s;

  @media screen and (min-width: $breakpoint-s) and (max-width: $breakpoint-m - 1px) {
    margin: 0 -#{$spacing-m};
    padding: $spacing-xl $spacing-m;
  }

  @media screen and (min-width: $breakpoint-m) and (max-width: $breakpoint-l - 1px) {
    margin: 0 -#{$spacing-l};
    padding: $spacing-2-xl $spacing-l;
  }

  @media screen and (min-width: $breakpoint-l) {
    margin: 0 -#{$spacing-xl} 0 0;
    max-width: calc(50% + #{$spacing-xl});
    padding: $spacing-3-xl $spacing-xl;
    width: 100%;
  }
}

.apartment__map-location-label {
  @include font-size($font-size-heading-4, $lineheight-heading-m);
  @include font-weight($bold);
  color: var(--color-black-90);
  margin: 0;
}

.apartment__cta {
  margin-top: $spacing-layout-2-xl;

  @media screen and (min-width: $breakpoint-l) {
    margin-left: auto;
    margin-right: auto;
    margin-top: $spacing-layout-x;
    max-width: $container-width-xl;
    padding: 0 $spacing-s;
    position: relative;
    width: 100%;
  }
}

.apartment__cta-image {
  margin: 0 auto;
  max-width: $container-width-m;

  @media screen and (min-width: $breakpoint-s) and (max-width: $breakpoint-m - 1px) {
    padding: 0 $spacing-s;
  }

  @media screen and (min-width: $breakpoint-m) {
    padding: 0 $spacing-s;
    max-width: $container-width-l;
  }

  @media screen and (min-width: $breakpoint-l) {
    margin: 0;
    order: 2;
    padding: 0;
    margin-left: auto;
    max-width: 75%;
  }

  &--missing {
    aspect-ratio: 3 / 2;
    background-color: var(--color-silver-medium-light);
    width: 100%;
  }
}

.apartment__cta-content-wrapper {
  margin: -#{$spacing-4-xl} auto 0;
  padding: 0 $spacing-s;
  position: relative;
  width: 100%;

  @media screen and (min-width: $breakpoint-s) and (max-width: $breakpoint-l - 1px) {
    max-width: $container-width-s;
  }

  @media screen and (min-width: $breakpoint-l) {
    margin: 0;
    max-width: 460px;
    order: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.apartment__cta-content {
  background-color: var(--color-engel);
  padding: $spacing-l $spacing-m;
  width: 100%;

  @media screen and (min-width: $breakpoint-m) {
    padding: $spacing-l $spacing-2-xl;
  }

  @media screen and (min-width: $breakpoint-l) {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    padding: $spacing-l $spacing-4-xl $spacing-3-xl $spacing-2-xl;
  }

  > h2 {
    @include font-size($font-size-heading-3, 29px);
    @include font-weight($bold);
    color: var(--color-black-90);
    margin-bottom: $spacing-l;
    margin-top: 0;

    @media screen and (min-width: $breakpoint-m) {
      @include font-size($font-size-heading-2, 43px);
      padding-right: $spacing-s
    }
  }

  .hds-button.hds-button--secondary {
    border-color: var(--color-black-90);
    color: var(--color-black-90);

    @media screen and (max-width: $breakpoint-l - 1px) {
      width: 100%;
    }

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}