.user-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-2-xl;

  &.user-form--login,
  &.user-form--password {
    max-width: 330px;

    .hds-button {
      width: 100%;
    }
  }

  &.user-form--register {
    max-width: 545px;

    .hds-button {
      width: 100%;

      @media screen and (min-width: $breakpoint-m) {
        width: auto;
      }

      + .hds-button {
        margin-top: $spacing-2-xs;

        @media screen and (min-width: $breakpoint-m) {
          margin-left: $spacing-s;
          margin-top: 0;
        }
      }
    }
  }

  &.user-form--contact {
    max-width: 545px;

    .hds-button {
      width: 100%;

      @media screen and (min-width: $breakpoint-m) {
        width: auto;
      }

      + .hds-button {
        margin-top: $spacing-2-xs;

        @media screen and (min-width: $breakpoint-m) {
          margin-left: $spacing-s;
          margin-top: 0;
        }
      }
    }
  }

  .form-actions {
    margin-top: $spacing-m;
  }

  .hds-text-input + p {
    margin: 0 0 $spacing-s;
  }
}

.user-form__section {
  > h1 {
    @include font-size($fontsize-heading-l, 43px);
    font-weight: $font-weight-bold;
    color: var(--color-black-90);
    margin: 0 0 $spacing-l;
  }

  > h2 {
    @include font-size($fontsize-heading-s, 24px);
    font-weight: $font-weight-bold;
    color: var(--color-black-90);
    margin: 0 0 $spacing-m;
    text-align: center;

    + p {
      @include font-size($fontsize-body-l, 27px);
      margin: 0 0 $spacing-m;
      color: var(--color-black-90);
    }
  }

  .user-form--login &,
  .user-form--password & {
    &:first-of-type {
      padding-bottom: $spacing-2-xl;
      margin-bottom: $spacing-l;
      border-bottom: 1px solid var(--color-black-20);
    }
  }

  .user-form--register & {
    &:first-of-type {
      margin-bottom: $spacing-2-xl;
    }

    > h2 {
      @include font-size($fontsize-heading-m, 29px);
      font-weight: $font-weight-bold;
      color: var(--color-black-90);
      margin: 0 0 $spacing-xs;
      text-align: left;
    }
  }
}

.user-form__required-message {
  @include font-size($fontsize-body-s, 26px);
  font-weight: $font-weight-regular;
  background-color: var(--color-info-light);
  box-shadow: inset 8px 0 0 0 var(--color-info);
  align-items: center;
  display: inline-flex;
  padding: $spacing-2-xs $spacing-s;
  margin: 0 0 $spacing-l;

  svg {
    margin-right: $spacing-3-xs;
    color: var(--color-info);
  }
}

.user-form__actions {
  margin-top: $spacing-s;
  display: flex;
  justify-content: center;

  a {
    @include font-size($fontsize-body-s, 26px);
    font-weight: $font-weight-medium;
    color: var(--color-bus);
  }

  .user-form--register & {
    border-top: 1px solid var(--color-black-20);
    margin-top: $spacing-l;
    padding-top: $spacing-m;
    justify-content: flex-start;
  }
}

.user-form__submit {
  margin-top: $spacing-2-xl;

  .user-form--edit & {
    margin-top: 0;
  }
}

.user-form--edit {
  .hds-button {
    width: 100%;

    @media screen and (min-width: $breakpoint-m) {
      width: auto;
    }

    + .hds-button {
      margin-top: $spacing-2-xs;

      @media screen and (min-width: $breakpoint-m) {
        margin-left: $spacing-s;
        margin-top: 0;
      }
    }
  }
}

// Register and user edit form custom styles.
.user-form--register,
.user-profile--edit {
  .form-item-pass {
    .password-parent,
    .confirm-parent {
      flex-direction: column;
    }

    .password-confirm-message {
      @include font-size(12px);
      font-weight: $font-weight-regular;
      color: var(--color-black-60);
      margin-top: $spacing-2-xs;
      display: inline-block !important;
      visibility: visible !important;

      > span {
        font-weight: $font-weight-bold;
        color: var(--color-black-90);
      }
    }

    .password-strength {
      margin-top: $spacing-xs;

      .password-strength__meter {
        border: 1px solid var(--color-black-40);
        background-color: var(--color-black-10);
        border-radius: 9999px;
        overflow: hidden;
        height: .5rem;
        margin: 0;
      }

      .password-strength__indicator {
        background-color: var(--color-brick);
      }

      .password-strength__title {
        @include font-size(12px);
        font-weight: $font-weight-regular;
        color: var(--color-black-60);
        margin-top: $spacing-2-xs;
        display: inline-block;
      }

      .password-strength__text {
        font-weight: $font-weight-bold;
        color: var(--color-black-90);
      }
    }

    .password-suggestions {
      @include font-size($fontsize-heading-xs, 22px);
      font-weight: $font-weight-bold;
      background-color: var(--color-info-light);
      margin-top: $spacing-m;
      box-shadow: inset 8px 0 0 0 var(--color-info);
      padding: $spacing-s $spacing-l $spacing-l;

      ul {
        @include font-size($fontsize-body-s, 26px);
        font-weight: $font-weight-regular;
        list-style: none;
        padding: 0;
        margin: $spacing-s 0 0;
        list-style-position: inside;

        li {
          &::before {
            content: "-";
            text-indent: -5px;
            margin-right: $spacing-3-xs;
          }
        }
      }
    }
  }

  .form-item-gdpr-warning {
    @include font-size($fontsize-body-m, 24px);
    margin-top: $spacing-l;
    flex-direction: column;
    align-items: baseline;
    display: flex;

    .description {
      margin-top: $spacing-3-xs;
      padding-left: $spacing-l;

      a {
        font-weight: $font-weight-bold;
        color: var(--color-bus);
      }
    }
  }
}