.user-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-2-xl;
  max-width: 500px;

  @media screen and (min-width: $breakpoint-xs) {
    margin-top: $spacing-4-xl;
  }

  // Make button full width for mobile breakpoints.
  .hds-button {
    @media screen and (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }
  }

  .hds-text-input + p {
    margin: 0 0 $spacing-s;
  }
}

.user-form__actions {
  align-items: baseline;
  border-top: 1px solid var(--color-black-20);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-l;
  max-width: 500px;
  padding-top: $spacing-s;

  @media screen and (min-width: $breakpoint-m) {
    flex-direction: row;
  }

  a {
    &:not(:first-of-type) {
      @media screen and (max-width: $breakpoint-m - 1px) {
        margin-top: $spacing-xs;
      }

      @media screen and (min-width: $breakpoint-m) {
        margin-left: $spacing-s;
      }
    }
  }
}