//
// @file
// This file includes styling related to local tasks such as "view" and "edit"
//

.local-tasks__wrapper {
  display: block !important;
}

.local-tasks {
  a {
    @include font-size($fontsize-body-m, 24px);
    text-decoration: none;
    transition: none;
  }
}
