.navigation {
  &.contextual-region {
    position: static;
  }

  &.navigation--main-header {
    z-index: 100;

    &.is-desktop {
      @media screen and (max-width: $breakpoint-l - 1px) {
        display: none;
        visibility: hidden;
      }
    }
  }
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  .navigation--main-header & {
    @media screen and (min-width: $breakpoint-l) {
      height: 100%;
    }
  }

  .navigation--main-footer & {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $breakpoint-l) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .navigation--footer-secondary & {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $breakpoint-l) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  .navigation--legal & {
    align-items: center;
    display: flex;
    justify-content: center;

    @media screen and (min-width: $breakpoint-l) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.menu__item {
  .navigation--main-header & {
    @media screen and (min-width: $breakpoint-l) {
      align-items: center;
      display: inline-flex;
      height: 100%;
    }

    &:not(:first-of-type) {
      @media screen and (min-width: $breakpoint-l) {
        margin-left: $spacing-l;
      }
    }

    &.is-active {
      position: relative;

      &:after {
        background-color: var(--color-black);
        bottom: -#{$spacing-s};
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
  }

  .navigation--main-footer & {
    &:not(:first-of-type) {
      margin-left: $spacing-xs;

      @media screen and (min-width: $breakpoint-l) {
        margin-left: $spacing-l;
      }
    }
  }

  .navigation--footer-secondary & {
    &:not(:first-of-type) {
      margin-left: $spacing-xs;

      @media screen and (min-width: $breakpoint-l) {
        margin-left: $spacing-l;
      }
    }
  }

  .navigation--legal & {
    &:not(:first-of-type) {
      margin-left: $spacing-xs;

      @media screen and (min-width: $breakpoint-l) {
        margin-left: $spacing-m;
      }
    }
  }

  > a {
    display: inline-block;

    .navigation--main-header & {
      @media screen and (min-width: $breakpoint-l) {
        @include font-size($fontsize-body-m);
        text-decoration: none;
      }
    }

    .navigation--main-footer & {
      @include font-size($fontsize-body-m, $lineheight-l);
      font-weight: $font-weight-medium;
      color: var(--color-black-90);
      text-decoration: none;
    }

    .navigation--footer-secondary & {
      @include font-size($fontsize-body-m, $lineheight-l);
      font-weight: $font-weight-medium;
      color: var(--color-black-90);
      text-decoration: none;
    }

    .navigation--legal & {
      @include font-size($fontsize-body-s, 26px);
      font-weight: $font-weight-regular;
      color: var(--color-black-90);
    }
  }

  > button {
    .navigation--footer-secondary & {
      @include font-size($fontsize-body-m, $lineheight-l);
      font-weight: $font-weight-medium;
      align-items: center;
      background-color: transparent;
      border: 0;
      color: var(--color-black-90);
      display: inline-flex;
      margin: 0;
      padding: 0;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }

      &:after {
        background-image: url('../icons/arrow-up.svg');
        background-size: 100%;
        content: "";
        display: inline-block;
        height: 24px;
        width: 24px;
        margin-left: $spacing-2-xs;
      }
    }
  }
}
