@keyframes fadeInY {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sticky-navigation {
  animation: fadeInY .2s;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-black-20);
  border-top: 1px solid var(--color-black-20);
  left: 0;
  opacity: 1;
  padding-top: $spacing-2-xs;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  @media screen and (min-width: $breakpoint-l) {
    padding: 0;
  }

  .toolbar-vertical & {
    top: 39px;
  }

  .toolbar-horizontal & {
    top: 53px;
  }
}

.sticky-navigation__container {
  @media screen and (min-width: $breakpoint-l) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.sticky-navigation__content-section {
  align-items: center;
  display: flex;

  &:first-of-type {
    gap: $spacing-2-xs;
  }

  &:not(:first-of-type) {
    display: none;

    @media screen and (min-width: $breakpoint-l) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @media screen and (min-width: $breakpoint-xl) {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: $spacing-m;
    }
  }
}

.sticky-navigation__content-item {
  @include font-size($fontsize-body-m, 24px);
  font-weight: $font-weight-regular;
  color: var(--color-black-90);
  margin: 0;

  .sticky-navigation__content-section:first-of-type & {
    &:first-of-type {
      font-weight: $font-weight-bold;
    }
  }

  &--separator {
    align-items: center;
    display: inline-flex;

    span[aria-hidden="true"] {
      background-color: var(--color-black-40);
      display: inline-block;
      height: 1px;
      margin: 0 $spacing-3-xs;
      width: 5px;
    }
  }
}

.sticky-navigation__anchor-list {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: $spacing-m;
}

.sticky-navigation__anchor-link {
  @include font-size($fontsize-body-m, $lineheight-l);
  align-items: center;
  display: inline-flex;
  margin-left: -#{$spacing-2-xs};
  padding: $spacing-2-xs;
  text-decoration: none;

  @media screen and (min-width: $breakpoint-l) {
    padding-bottom: $spacing-xl;
    padding-top: $spacing-xl;
  }

  @media screen and (min-width: $breakpoint-xl) {
    padding-bottom: $spacing-m;
    padding-top: $spacing-m;
  }

  > svg {
    display: none;
    margin-right: $spacing-s;
    visibility: hidden;

    @media screen and (min-width: $breakpoint-l) {
      display: inline-block;
      visibility: visible;
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.is-active {
    position: relative;
    box-shadow: inset 0 -2px 0 0 var(--color-black);

    @media screen and (min-width: $breakpoint-l) {
      box-shadow: inset 0 -3px 0 0 var(--color-black);
    }
  }
}
