.sub-menu__item {
  .navigation--user-tools .is-mobile & {
    &:last-child {
      border-top: 1px solid var(--color-black-10);
    }
  }
}

// Desktop user tools dropdown.
.user-tools {
  position: relative;
  margin-left: auto;
  margin-right: $spacing-l;

  @media screen and (max-width: $breakpoint-l - 1px) {
    display: none;
    visibility: hidden;
  }
}

.user-tools__button {
  @include font-size($fontsize-body-m, $lineheight-l);
  font-weight: $font-weight-regular;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0 $spacing-4-xs;
  text-align: center;

  &:before {
    background-image: url('../icons/user.svg');
    background-size: 100%;
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: $spacing-3-xs;
  }

  &:after {
    background-size: 100%;
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-left: $spacing-3-xs;
    margin-top: $spacing-4-xs;
  }

  &[aria-expanded="true"] {
    &:after {
      background-image: url('../icons/angle-up.svg');
    }
  }

  &[aria-expanded="false"] {
    &:after {
      background-image: url('../icons/angle-down.svg');
    }
  }

  @media screen and (max-width: $breakpoint-l - 1px) {
    display: none;
    visibility: hidden;
  }
}

.user-tools__dropdown {
  background: var(--color-white);
  border: 1px solid var(--color-black-90);
  display: flex;
  position: absolute;
  right: 0;
  top: 36px;
  z-index: 100;

  &[aria-hidden="true"] {
    display: none;
    visibility: hidden;
  }
}

.user-tools__links {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-tools__links-item {
  @media screen and (min-width: $breakpoint-l) {
    width: 100%;
  }

  a {
    &:hover {
      text-decoration: underline;
      background-color: var(--color-black-10);
    }
  }
}

.user-tools__link {
  @include font-size($fontsize-body-m, $lineheight-l);
  padding: $spacing-2-xs $spacing-s$spacing-2-xs;
  white-space: nowrap;
  width: 100%;
  display: inline-flex;
  min-width: 185px;
  text-decoration: none;

  &.is-active {
    font-weight: $font-weight-bold;
  }

  &.is-disabled {
    color: var(--color-black-40);
    cursor: default;
  }

  .user-tools__links-item:last-child & {
    border-top: 1px solid var(--color-black-20);
  }
}