{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% set classes = [
    'asu-content-bulk-edit__form',
  ]
%}

<div class="asu-content-bulk-edit wrapper wrapper--mw-1200">
  <div class="asu-content-bulk-edit__header">
    <h1 class="asu-content-bulk-edit__heading">{{ 'Content Bulk Edit Form'|t }}</h1>
    <p>
      {% trans %}
        On this page, you will be able to bulk edit projects and apartments.
      {% endtrans %}
    </p>
  </div>
  <form{{ attributes|without('class') }} {{ create_attribute({'class': classes}) }}>
    {{ children }}
  </form>
</div>