.hds-button--primary {
  background: var(--color-bus);
  border: 2px solid var(--color-bus) !important;
}

.hds-button--secondary:hover {
  background: var(--color-bus);
  border: 2px solid var(--color-bus) !important;
  color: white;
}
