.showcase-gallery {
  position: relative;

  img {
    width: 100%;
  }

  .slick {
    max-height: 330px;

    @media screen and (min-width: $breakpoint-m) and (max-width: $breakpoint-l - 1px) {
      max-height: 395px;
    }

    @media screen and (min-width: $breakpoint-l) {
      max-height: 550px;
    }
  }

  .showcase-gallery__label {
    background-color: var(--color-alert);
    padding: 5px;
    position: absolute;
    z-index: 99;
    display:none;
  }

  &:hover .showcase-gallery__label {
    display:block;
  }

  .slick-arrow {
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex !important;
    font-size: 0;
    height: 100%;
    justify-content: center;
    outline: 0;
    padding: 0;
    position: absolute;
    top: 0;
    transition: background-color 0.2s ease-in-out;
    width: 52px;
    z-index: 10;

    @media screen and (min-width: $breakpoint-l) {
      width: 64px;
    }

    &:hover,
    &:focus {
      background-color: rgba($color-white, 0.4);
    }

    &::before {
      content: "";
      height: 36px;
      width: 36px;

      @media screen and (min-width: $breakpoint-l) {
        height: 48px;
        width: 48px;
      }
    }
  }

  .slick-prev {
    left: 0;

    &::before {
      background-image: url("../icons/angle-left.svg");
    }
  }

  .slick-next {
    right: 0;

    &::before {
      background-image: url("../icons/angle-right.svg");
    }
  }

  .slick-list {
    max-height: 550px;
  }

  .slide__content {
    cursor: pointer;
    position: relative;
    /*
    &::after {
      content: "Click on image for fullscreen";
      position: absolute;
      font-size: 0.875rem;
      line-height: 1.625rem;
      background-color: $color-engel;
      color: $color-black-90;
      padding: 0.25rem 0.5rem;
      top: 0;
      left: 0;
      opacity: 1;
      cursor: default;

      @media screen and (min-width: $breakpoint-xl) {
        opacity: 0;
      }
    }
    */
    &:hover::after,
    &:active::after {
      opacity: 1;
    }
  }
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    transform: translate(0) !important;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }
}
