body {
  --colorGinAppBackground: rgb(235, 244, 251);
  --colorGinLayerBorder: rgb(231, 240, 247);
  --colorGinLayerBackground: rgb(255, 255, 255);
  --colorGinSwitch: rgb(0, 0, 191);
  --colorGinFocus: rgb(0, 0, 191);
}
