.pager__items {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  gap: 12px;
  justify-content: center;
  list-style: none;
  margin: 40px 0 0;
  padding: $spacing;

  @media screen and (min-width: $breakpoint-l) {
    margin: $spacing-quadruple 0 0;
  }
}

.pager__item {
  > span,
  a {
    font-size: $fontsize-body-s;
line-height: $lineheight-l; // Was 26px.
    font-weight: $font-weight-bold;
    color: var(--color-black-90);
    text-decoration: none;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &.is-active {
    > span,
    a {
      border: 2px solid var(--color-black);
      pointer-events: none;
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    display: none;
    visibility: hidden;

    a {
      pointer-events: none;
    }
  }
}
