.page--user {
  background-color: #FAFAFA;
}

.user-profile {
  padding-top: 6rem;

  .hds-button + .user-profile__user-information {
    margin-top: $spacing-and-half;
  }

  .hds-notification {
    margin-bottom: $spacing-double;
  }
}

.user-profile__header {
  margin-bottom: $spacing-double;
}

.user-profile__heading {
 font-size: $fontsize-heading-l;
line-height: $lineheight-m;
  font-weight: $font-weight-bold;
  color: var(--color-black-90);
  margin: 0 0 $spacing-and-half;

  + p {
   font-size: $fontsize-body-l;
line-height: $lineheight-xl; // Was 27px.
    margin: 0;
  }
}

.user-profile__tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid var(--color-black-20);
  display: flex;
  overflow-x: auto;
}

.user-profile__tab {
  flex-shrink: 0;

  a {
   font-size: $fontsize-body-m;
line-height: $lineheight-l; // Was 24px.
    color: var(--color-bus);
    text-decoration: none;
    font-weight: $font-weight-medium;
    padding: 12px $spacing-and-half;
    display: inline-block;

    &.is-active {
      box-shadow: inset 0 -4px 0 0 var(--color-bus);
    }
  }
}

.user-profile__section {
  padding-top: $spacing-triple;
  padding-bottom: $spacing-double;

  > h2 {
   font-size: $fontsize-heading-m;
line-height: 2;
    font-weight: $font-weight-bold;
    color: var(--color-black-90);
    margin: 0 0 $spacing-and-half;

    + p {
     font-size: $fontsize-body-l;
line-height: $lineheight-xl; // Was 27px.
      margin: -#{$spacing} 0 $spacing-and-half;
    }
  }

  &:not(:first-of-type) {
    border-top: 1px solid var(--color-black-20);
  }

  .hds-button {
    width: 100%;

    @media screen and (min-width: $breakpoint-m) {
      width: auto;
    }
  }
}

.user-profile__user-information {
  @media screen and (min-width: $breakpoint-m) {
    max-width: 550px;
  }

  .hds-text-input {
    &:not(:first-of-type) {
      margin-top: $spacing-and-half;
    }
  }

  + .hds-button {
    margin-top: $spacing-and-half;
  }
}

article.application .application__content .warning {
  color: red;
  width: 32px;
  height: 32px;
}

li+li {
  margin-top: 0px;
}
