.news-liftup {
  margin-bottom: 40px;

  @media screen and (min-width: $breakpoint-l) {
    margin-bottom: $spacing-quadruple;
  }
}

.views__hero {
  .views--news-page-main &,
  .views--news-page-haso &,
  .views--news-page-hitas &,
  .views--news-page-common & {
    background-color: var(--color-black-5);
    margin: 0 -#{$spacing-double} 40px;
    position: relative;
    padding: $spacing-quadruple 0 $spacing-quadruple + $spacing-and-half;
    overflow: hidden;

    @media screen and (min-width: $breakpoint-l) {
      padding: $spacing-quadruple + $spacing-and-half 0 $spacing-quadruple + 40px;
      margin: 0 -#{$spacing-double} $spacing-quadruple;
    }

    > h1 {
     font-size: $fontsize-heading-l;
line-height: $lineheight-m;
      font-weight: $font-weight-bold;
      color: var(--color-black-90);
      margin: 0;
      padding: 0 $spacing-double;

      @media screen and (min-width: $breakpoint-l) {
       font-size: $fontsize-heading-xl;
line-height: $lineheight-m;
        padding: 0;
        text-align: center;
        margin: 0 auto;
      }
    }

    .hds-koros {
      bottom: -#{56px};
      color: var(--color-white);
      position: absolute;
      transform: scale(2.5);
      z-index: 2;
    }
  }
}

.views--news-attachment {
  & + & {
    margin-top: 40px;
  }

  > h2 {
   font-size: $fontsize-heading-m;
line-height: $lineheight-m;
    font-weight: $font-weight-bold;
    color: var(--color-black-90);
    margin-top: 0;
    margin-bottom: $spacing-and-half;

    @media screen and (min-width: $breakpoint-l) {
     font-size: $fontsize-heading-l;
line-height: $lineheight-m;
      margin-bottom: $spacing-double;
    }
  }

  .hds-button {
    margin-top: $spacing-double;

    @media screen and (min-width: $breakpoint-l) {
      margin-bottom: 40px;
    }
  }
}

.news-listing {
  padding: 0;
  margin: 0;
  list-style: none;

  @media screen and (min-width: $breakpoint-l) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: $spacing-double;
  }
}

.news-listing__item {
  @media screen and (min-width: $breakpoint-l) {
    margin-top: 0;
  }

  & + & {
    margin-top: $spacing-double;

    @media screen and (min-width: $breakpoint-l) {
      margin-top: 0;
    }
  }
}
