$fontsize-heading-xl: 3.25rem; // 52px
$fontsize-heading-l: 2.25rem; // 36px
$fontsize-heading-m: 1.5rem; // 24px
$fontsize-heading-s: 1.25rem; // 20px
$fontsize-heading-xs: 1.125rem; // 18px
$fontsize-heading-xxs: 1rem; // 16px
$fontsize-body-s: 0.875rem; // 14px
$fontsize-body-m: 1rem; // 16px
$fontsize-body-l: 1.125rem; // 18px
$fontsize-body-xl: 1.25rem; // 20px
$lineheight-s: 1;
$lineheight-m: 1.2;
$lineheight-l: 1.5;
$lineheight-xl: 1.75;
