.page-footer__item {
  &.page-footer__item--top {
    padding-bottom: $spacing-m;
    border-bottom: 1px solid var(--color-black-20);

    @media screen and (min-width: $breakpoint-l) {
      padding-bottom: $spacing-l;
    }
  }

  &.page-footer__item--middle {
    padding-bottom: $spacing-m;
    padding-top: $spacing-m;
    border-bottom: 1px solid var(--color-black-20);
  }

  &.page-footer__item--bottom {
    padding-bottom: $spacing-m;
    padding-top: $spacing-m;

    @media screen and (min-width: $breakpoint-l) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.page-footer__content {
  background-color: var(--color-black-5);
}

.page-footer__copyright {
  @include font-size($fontsize-body-s, 26px);
  @include font-weight($regular);
  align-items: center;
  color: var(--color-black-90);
  display: flex;
  justify-content: center;
  margin: 0 0 $spacing-2-xs 0;

  @media screen and (min-width: $breakpoint-l) {
    margin: 0;
  }

  span {
    &:first-of-type {
      &:after {
        content: "•";
        padding-left: $spacing-4-xs;
        padding-right: $spacing-3-xs;
      }
    }
  }
}