.apartment__anchor-navigation {
  @media screen and (max-width: $breakpoint-l - 1px) {
    visibility: hidden;
    display: none;
  }

  border-bottom: 1px solid var(--color-black-20);
  margin-top: -5px;
}

.apartment__anchor-list {
  align-items: center;
  display: grid;
  gap: $spacing-quadruple;
  grid-auto-flow: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.apartment__anchor-link {
  align-items: center;
  display: inline-flex;
  text-decoration: none;

 font-size: $fontsize-body-xl;
line-height: $lineheight-l;;
  font-weight: $font-weight-bold;
  padding: $spacing-and-half;

  > svg {
    margin-right: 12px;
  }
}
