.apartment__attachments-label {
  color: var(--color-black-90);
  font-size: $fontsize-heading-m;
  font-weight: $font-weight-bold;
  line-height: $lineheight-m;
  margin-bottom: $spacing-half-and-half;
  margin-top: #{-$spacing-and-half} - 74px;
  padding-top: #{$spacing-and-half} + 74px;

  @media screen and (min-width: $breakpoint-m) {
    font-size: $fontsize-heading-l;
    line-height: $lineheight-m;
    margin-bottom: $spacing-and-half;
    margin-top: -100px;
    padding-top: 100px;
  }
}

.apartment__attachments-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $breakpoint-m) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat(2, 1fr);
  }

  .apartment__attachment-item {
    margin-top: 2em;

    @media screen and (min-width: $breakpoint-m) {
      margin-top: 0;
    }
  }
}

.apartment__attachment-link {
  border: 1px solid var(--color-black-20);
  display: inline-flex;
  height: 100%;
  padding: $spacing;
  text-decoration: none;
  width: 100%;

  > .hel-icon {
    flex-shrink: 0;
  }
}

.apartment__attachment-content {
  margin-left: $spacing;
  overflow: hidden;
  width: 100%;
}

.apartment__attachment-description {
  font-size: $fontsize-body-s;
  line-height: $lineheight-l; // Was 26px.
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-quarter;
  margin-top: 0;
  color: var(--color-black-90);
  position: relative;
  display: inline-block;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:after {
    border-bottom: 1px solid var(--color-black-90);
    bottom: 2px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
  }
}

.apartment__attachment-name {
  font-size: $fontsize-body-m;
  font-weight: $font-weight-bold;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-black-90);
  margin: 0;
  white-space: nowrap;
}

.apartment__attachment-size {
  font-size: $fontsize-body-s;
  line-height: $lineheight-l; // Was 26px.
  color: var(--color-black-90);
  margin: 0;
}
