//
// @file
//
// This file includes all variables related to colors
//
$page-background: #fff; //#F7F7F7;

$black: #282828;
$white: #fff;

$gray-light: #EFEFEF;
$gray-medium: #CECBBD;
$gray: #707070;
$gray-dark: #4A4A49;

// Colors
$yellow: #E7AA00;
$yellow-light: #FFD238;
$blue: #0061AD;
$blue-light: #00B2EC;
$orange: #EA5B0A;
$cyan: #8CCDCA;
$green: #00AA7A;
$pink: #E93171;
$red: #E4072D;

// Colors for messages
$error-light: #e98491;
$error-dark: #ed1a3b;
$status-light: #7dcdc8;
$status-dark: #00a97a;
$warning-light: #f29869;
$warning-dark: #f26522;

// Logo color
$blue-logo: #00B9F2;
