//
// @file
//
// This file includes all variables related to typography
//

// Font sizes
$rembase: 16;
$base-font-size: 16px; // Leave at 16px for correct container width
$base-font-size-rem: 1rem;
$base-line-height: 27px; // For relative line-height (1.385), see http://cssleading.com/

$font-size-heading-1: 52px;
$font-size-heading-2: 36px;
$font-size-heading-3: 24px;
$font-size-heading-4: 20px;
$font-size-heading-5: 18px;
$font-size-heading-6: 16px;

$lineheight-heading-xl: 3.25rem;
$lineheight-heading-l: 2.25rem;
$lineheight-heading-m: 1.5rem;
$lineheight-heading-s: 1.25rem;
$lineheight-heading-xs: 1.125rem;
$lineheight-heading-xxs: 1rem;

$font-size-ingress: 22px;
$font-size-body: 18px;

$fontsize-body-s: 14px;
$fontsize-body-m: 16px;
$fontsize-body-l: 18px;
$fontsize-body-xl: 20px;

$lineheight-s: 1rem;
$lineheight-m: 1.2rem;
$lineheight-l: 1.5rem;
$lineheight-xl: 1.75rem;

// Font families
$open-sans: "Open Sans", sans-serif;
$HelsinkiGrotesk: "HelsinkiGrotesk", sans-serif;

$default-font-family: $HelsinkiGrotesk;
$heading-font-family: $HelsinkiGrotesk;

// Font weights
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
